In [28]:
import numpy as np
import pandas as pd

In [29]:
df= pd.read_csv('databasec.txt')

In [30]:
patients_staging = pd.read_csv('databasec.txt', sep='|', engine='python')

In [31]:
patients_staging

,Customer_Name,Customer_Id,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,Country,DOB,Is_Active
0,Alex,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A
1,Bale,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A
2,John,123458,20101012,20121013,MVD,Paul,TN,IND,6031987,A
3,Abcd,123458,20101012,20121013,MVD,Paul,TN,IND,6031987,A
4,Mathew,123459,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A
5,Matt,12345,20101012,20121013,MVD,Paul,BOS,NYC,6031987,A
6,Jacob,1256,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

In [32]:
print(patients_staging.Country.unique())

['USA' 'IND' 'PHIL' 'NYC' 'AU']

In [33]:
patientsbycountry = patients_staging.groupby('Country')
dict_bycountry = {}

In [34]:
for key, value in patientsbycountry:
  dict_bycountry[key] = value
  print(dict_bycountry[key])

  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
6         Jacob         1256   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
6    Paul   VIC      AU  6031987         A
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
2          John       123458   20101012             20121013            MVD
3          Abcd       123458   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
2    Paul    TN     IND  6031987         A
3    Paul    TN     IND  6031987         A
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
5          Matt        12345   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
5    Paul   BOS     NYC  6031987         A
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
4        Mathew       123459   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
4    Paul   WAS    PHIL  6031987         A
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
0          Alex       123457   20101012             20121013            MVD
1          Bale       123457   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
0    Paul    SA     USA  6031987         A
1    Paul    SA     USA  6031987         A

In [35]:
for key,value in dict_bycountry.items():
    print("Country:",key)
    print(value)
    print("\n")

Country: AU
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
6         Jacob         1256   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
6    Paul   VIC      AU  6031987         A


Country: IND
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
2          John       123458   20101012             20121013            MVD
3          Abcd       123458   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
2    Paul    TN     IND  6031987         A
3    Paul    TN     IND  6031987         A


Country: NYC
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
5          Matt        12345   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
5    Paul   BOS     NYC  6031987         A


Country: PHIL
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
4        Mathew       123459   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
4    Paul   WAS    PHIL  6031987         A


Country: USA
  Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date Vaccination_Id  \
0          Alex       123457   20101012             20121013            MVD
1          Bale       123457   20101012             20121013            MVD

  Dr_Name State Country      DOB Is_Active
0    Paul    SA     USA  6031987         A
1    Paul    SA     USA  6031987         A